.list {
  margin-top: var(--spacing-5);
}

.listItem {
  display: block;
  text-decoration: none;
  color: var(--clr-black);
  margin-bottom: var(--spacing-3);
  cursor: pointer;
  transition: color 0.3s;
}

.listItem:hover {
  color: var(--clr-blue-primary);
}
