.searchBar {
  width: 50%;
}

.result {
  margin-top: var(--spacing-6);
}

.noResults,
.nothingToShow {
  color: var(--clr-gray-600);
}

.nothingToShow {
  text-align: center;
  margin-top: var(--spacing-7);
  font-size: var(--fs-4);
}

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.tableContainer {
  flex: 1;
  margin-right: 16px;
}

.chartContainer {
  flex: 3;
  margin-left: 16px;
}

.chart {
  width: 100%;
  height: auto;
}
