.main {
    width: min(90%, 114rem);
    padding: var(--spacing-6) var(--spacing-4);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    margin-top: var(--spacing-5);
}

.instructions {
    margin-top: var(--spacing-3);
}

.list {
    margin-top: var(--spacing-5);
}

.list > * {
    font-size: var(--fs-2);
    text-decoration: none;
    color: var(--clr-black);
    padding-left: var(--spacing-3);
    cursor: pointer;
    transition: color 0.3s;
}

.list > *:hover {
    color: var(--clr-blue-primary);
}
